! ---
! ~/.Xresources
! @author matteo.muscella@usi.ch
! ---
#include "/Users/mm/.colors/solarized.light"

URxvt.cursorUnderline:     1
URxvt.fading:              1
URxvt.cursorBlink:         false
URxvt.imLocale:            en_US.UTF-8
URxvt.scrollBar:           false
URxvt.internalBorder:      5
URxvt.visualBell:          false
URxvt.lineSpace:           6
URxvt.letterSpace:         1

URxvt.perl-ext-common:     clipboard,keyboard-select,font-size
URxvt.perl-matcher:        1
URxvt.matcher-button:      3
URxvt.url-launcher:        /usr/local/bin/firefox

URxvt.clipboard.autocopy:  true

URxvt.keysym.M-s:          perl:keyboard-select:activate

URxvt.keysym.M-c:          perl:clipboard:copy
URxvt.keysym.M-v:          perl:clipboard:paste
URxvt.keysym.M-C-v:        per:clipboard:paste_escaped

URxvt.keysym.C-minus:      perl:font-size:decrease
URxvt.keysym.C-equal:      perl:font-size:increase

URxvt*colorIT:             #87af5f
URxvt*colorBD:             #dc322f
URxvt*colorUL:             #87afd7

URxvt*font:                -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
URxvt*boldFont:            -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
URxvt*italicFont:          -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
URxvt*bolditalicFont:      -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*

Xcursor.theme:             Vanilla-DMZ-AA
Xcursor.size:              22

