! ---
! ~/.Xresources
! @author matteo.muscella@usi.ch
! ---
#include "/Users/mm/.colors/gruvbox-dark"

URxvt.cursorUnderline:     1
URxvt.fading:              1
URxvt.cursorBlink:         false
URxvt.imLocale:            en_US.UTF-8
URxvt.scrollBar:           false
URxvt.internalBorder:      5
URxvt.visualBell:          false
URxvt.lineSpace:           2
URxvt.letterSpace:         1

URxvt.perl-ext-common:     clipboard,keyboard-select,font-size
URxvt.perl-matcher:        1
URxvt.matcher-button:      3
URxvt.url-launcher:        /usr/local/bin/firefox

URxvt*colorIT:             #87af5f
URxvt*colorBD:             #dc322f
URxvt*colorUL:             #87afd7

URxvt*dpi:                 96
URxvt*antialias:           true
URxvt*hinting:             true
URxvt*rgba:                rgb
URxvt*autohint:            false
URxvt*hintstyle:           hintslight
URxvt*lcdfilter:           lcddefault

URxvt*font:                 xft:Inconsolata-dz for Powerline:pixelsize=14
URxvt*boldFont:             xft:Inconsolata-dz for Powerline:pixelsize=14,style=bold
URxvt*italicFont:           xft:Inconsolata-dz for Powerline:pixelsize=14,style=italic
URxvt*bolditalicFont:       xft:Inconsolata-dz for Powerline:pixelsize=14,style=italic

!URxvt*font:                -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*boldFont:            -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*italicFont:          -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt*bolditalicFont:      -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*

!URxvt*font:                -misc-tamsyn-medium-r-normal--16-116-100-100-c-80-iso8859-1

URxvt.clipboard.autocopy:  true

URxvt.keysym.M-s:          perl:keyboard-select:activate
URxvt.keysym.M-c:          perl:clipboard:copy
URxvt.keysym.M-v:          perl:clipboard:paste
URxvt.keysym.M-C-v:        perl:clipboard:paste_escaped
URxvt.keysym.C-equal:      perl:font-size:increase

Xcursor.theme:             Vanilla-DMZ-AA
Xcursor.size:              22

