*.pyc
*.DS_Store
*-cache
awesome/.config/awesome/lain/
colors/.colors/base16-xresources/
fonts/.fonts/bitmap/
history*
scripts/.bin/
viminfo
vim/.vim/backup/
vim/.vim/bundle/
vim/.vim/swap/
vim/.vim/undo/
vim/.vim/viminfo
vim/.vim/.netrwhist
vim/.vim/autoload
vim/.vim/plugged
*~
ls-R
