[submodule "sh/plugins/zsh-syntax-highlighting"]
	path = sh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "sh/plugins/dircolors-solarized"]
	path = sh/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "sh/oh-my-zsh"]
	path = sh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
