---
Language:                                   Cpp
BasedOnStyle:                               Google
DerivePointerAlignment:                     false
PointerAlignment:                           Left
AccessModifierOffset:                       -4
AllowShortBlocksOnASingleLine:              false
AllowShortFunctionsOnASingleLine:           Empty
AllowShortIfStatementsOnASingleLine:        false
AllowAllParametersOfDeclarationOnNextLine:  true
BreakBeforeBraces:                          Attach
Cpp11BracedListStyle:                       false
IndentWidth:                                4
NamespaceIndentation:                       All
SpaceInEmptyParentheses:                    false
SpacesInParentheses:                        true
---
Language: JavaScript
ColumnLimit:                                100
