---
Language:                                   Cpp
DerivePointerAlignment:                     false
PointerAlignment:                           Left
AccessModifierOffset:                       -4
AllowShortIfStatementsOnASingleLine:        true
AllowAllParametersOfDeclarationOnNextLine:  true
BreakBeforeBraces:                          Attach
Cpp11BracedListStyle:                       false
IndentWidth:                                4
NamespaceIndentation:                       All
SpaceInEmptyParentheses:                    false
SpacesInParentheses:                        true
---
Language: JavaScript
ColumnLimit:                                100
