---
#BasedOnStyle: Google
IndentWidth: 4
SpacesInParentheses: true
SpaceAfterCStyleCast: true
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: true
---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 100
---
