snippet create
	CREATE (${1:name}:${2:label} {
	${3:property}: "${4:value}"
	})

snippet pub
	CREATE (${1:name}:Publisher {
	name:    "${3:Marvel Comics}",
	country: "${4:US}",
	founded: "${5:1939}",
	defunct: "${6:-}"
	}) - [a:ACTIVE { active: ${7:true} }]
