# ----------------------------------------------------------------------------
# Aliases
# @author matteo.muscella@usi.ch
# ----------------------------------------------------------------------------

# {{{ useful commands

# faster shortcuts
alias :q='exit'
alias :w='exit'
alias :x='exit'
alias :r="source $HOME/.$(ps -p $$ | grep -ioe '\(bash\|zsh\)')rc"

alias rot13="tr a-zA-Z n-za-mN-ZA-M"

# mac only: using homebrew gtime
alias timeit="gtime --format='%e' $1"

# copy public on current machine on a server specified as first param
copy_rsa() {
    [ $# -eq 0 ] && echo "No input args" && return -1
    cat ~/.ssh/id_rsa.pub | # cat the public key
    ssh $1 'umask 0077; mkdir -p .ssh;
            cat >> .ssh/authorized_keys'
    echo "Key copied"
}
alias cprsa=copy_rsa

# easily edit my dotfiles
edit() {
    case "$1" in
        .bashrc|.zshrc)
            vim $HOME/$1 ; source $HOME/$1
            ;;
        bspwm|sxhkd)
            vim $HOME/.config/$1/$1rc
            ;;
        xres)
            vim $HOME/.Xresources ; xrdb -merge $HOME/.Xresources
            ;;
        .aliases|.environment)
            vim $HOME/$1 ; source $HOME/$1
            ;;
        *)
            echo "error: invalid file: $1"
            ;;
    esac
}


# make new and cd into it
mkcdir () { #{{{
    mkdir -p -- "$1" &&
        cd -P -- "$1"
} #}}}

# never missing ls
COLORFLAG=' -G'
[ $(uname) = "Linux" ] && COLORFLAG=' --color=auto'
alias l='ls -h'$COLORFLAG
alias la='ls -lha'$COLORFLAG
alias ls='ls'$COLORFLAG
alias ll='ls -lh'$COLORFLAG
alias lt='ls -ltr'$COLORFLAG         #  Sort by date, asc
alias lc='ls -ltcr'$COLORFLAG        #  Sort by/show change time, asc.
alias lu='ls -ltur'$COLORFLAG        #  Sort by/show access time, asc.
# Find all the symbolic links in a directory
alias lk='ls -l `find . -maxdepth 1 -type l -print`'

alias ..='cd ..'

# list top ten largest files/directories in current directory
alias ducks='du -cks * | sort -rn | head -11'

alias ghclean='rm -f *.hi *.o $1'

alias ip="ifconfig |\
          grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' |\
          grep -Eo '([0-9]*\.){3}[0-9]*' |\
          grep -v '127.0.0.1'"
alias extip='curl -s http://myexternalip.com/raw'
alias iamhome='[ \"$(extip)\" = \"2.235.177.223\" ] ; echo $?'

alias timecmd='/usr/bin/time $1 -l'

alias y2mp3='youtube-dl --extract-audio'
alias f2mp3='ffmpeg -i $1 -q:a 0 $1.mp3'

alias exe='chmod u+x $1'

alias serve='python -m SimpleHTTPServer'

alias cmcompile='mkdir -p bin && cd bin && cmake .. \
    -DCMAKE_PREFIX_PATH=/usr/local/Cellar/qt5/5.5.1_2/'

alias tm='tmux'
alias ta='tmux attach || tmux'

alias vu='vagrant up'
alias vh='vagrant halt'
alias vs='vagrant ssh'
alias vp='vagrant provision'

alias findf="find . -type f -iname \"*$**\""

alias svim="sudo vim"

# }}}
# {{{ working directories

alias sem="cd ~/SpringSemester2015"
alias P="cd ~/Dropbox/Programming"
alias dots="cd ~/.dotfiles"
alias configs="cd $XDG_CONFIG_HOME"

# }}}
# {{{ servers

alias atelier="ssh muscellm@atelier.inf.usi.ch"
alias qnap="ssh admin@192.168.2.10"

# ssh -CnNT -p 6003 -D 8080 admin@2.235.177.223
# ssh -nNT -p 6003 -L 6009:127.0.0.1:6009 admin@2.235.177.223

# }}}
# {{{ guards

alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

# }}}
# {{{ mac os specific commands

# cleanup and update my system. needs Homebrew
__do_update() {
    brew update
    brew upgrade
    brew cleanup
    brew doctor
}
alias brewupdate=__do_update

# add empty icon on the dock as a spacer
alias addSpacer="\
    defaults write com.apple.dock\
        persistent-apps\
        -array-add '{tile-data={};\
        tile-type=\"spacer-tile\";}';\
    killall Dock"

# show/hide hidden files in the finder
alias hideFiles='\
    defaults write com.apple.finder \
             AppleShowAllFiles NO;\
    killall\
             Finder /System/Library/CoreServices/Finder.app'

alias showFiles='\
    defaults write com.apple.finder AppleShowAllFiles YES;\
    killall\
            Finder /System/Library/CoreServices/Finder.app'

# }}}
# {{{ git

alias gst='git status'
alias gss='git status -s'
alias gwc='git whatchanged -p --abbrev-commit --pretty=medium'
alias gad='git add .'
alias gcm='git commit'

alias noc='git rev-list --branches --all | wc -l'

# }}}
# {{{ useful functions

#
# Resize an image with the help of Imagemagick
function resize {
if [ -z "$2" ]; then
    echo "Usage: resize <path/file_name> <desired_geometry>"
    echo ""
    return 1
else
    root="${1%.*}"
    ext="${1#"$root"}"
    echo "convert -density 400 "$1" -resize $2 "$root-$size$ext""
fi
}

# credits to:
# https://github.com/xvoland/Extract/blob/master/extract.sh
function extract {
 if [ -z "$1" ]; then
    # display usage if no parameters given
    echo "Usage: extract <path/file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
    echo "       extract <path/file_name_1.ext> [path/file_name_2.ext] [path/file_name_3.ext]"
    return 1
 else
    for n in $@
    do
      if [ -f "$n" ] ; then
          case "${n%,}" in
            *.tar.bz2|*.tar.gz|*.tar.xz|*.tbz2|*.tgz|*.txz|*.tar) 
                         tar xvf "$n"       ;;
            *.lzma)      unlzma ./"$n"      ;;
            *.bz2)       bunzip2 ./"$n"     ;;
            *.rar)       unrar x -ad ./"$n" ;;
            *.gz)        gunzip ./"$n"      ;;
            *.zip)       unzip ./"$n"       ;;
            *.z)         uncompress ./"$n"  ;;
            *.7z)        7z x ./"$n"        ;;
            *.xz)        unxz ./"$n"        ;;
            *.exe)       cabextract ./"$n"  ;;
            *)
                         echo "extract: '$n' - unknown archive method"
                         return 1
                         ;;
          esac
      else
          echo "'$n' - file does not exist"
          return 1
      fi
    done
fi
}

# }}}

# vim: ft=sh fdm=marker
