# ----------------------------------------------------------------------------
# Aliases
# @author matteo.muscella@usi.ch
# ----------------------------------------------------------------------------

# {{{ useful commands

# faster shortcuts
alias :q='exit'
alias :w='exit'
alias :x='exit'
alias :r="source $HOME/.$(ps -p $$ | grep -ioe '\(bash\|zsh\)')rc"

alias timeit="gtime --format='%e' $1"

# easily edit my dotfiles
edit() { #{{{
    case "$1" in
        .bashrc|.zshrc)
            vim $HOME/$1 ; source $HOME/$1
            ;; 
        bspwm|sxhkd)
            vim $HOME/.config/$1/$1rc
            ;;
        xres)
            vim $HOME/.Xresources ; xrdb -merge $HOME/.Xresources
            ;;
        .aliases|.environment)
            vim $HOME/$1 ; source $HOME/$1
            ;;
        *)
            echo "error: invalid file: $1"
            ;;
    esac
} #}}}

# make new and cd into it
mkcdir () { #{{{
    mkdir -p -- "$1" &&
        cd -P -- "$1"
} #}}}

# never missing ls
COLORFLAG=' -G'
alias l='ls -h'$COLORFLAG
alias la='ls -lha'$COLORFLAG
alias ls='ls'$COLORFLAG
alias ll='ls -lh'$COLORFLAG
alias lt='ls -ltr '$COLORFLAG         #  Sort by date, asc
alias lc='ls -ltcr '$COLORFLAG        #  Sort by/show change time, asc.
alias lu='ls -ltur '$COLORFLAG        #  Sort by/show access time, asc.
# Find all the symbolic links in a directory
alias lk='ls -l `find . -maxdepth 1 -type l -print`'

alias ..='cd ..'

# list top ten largest files/directories in current directory
alias ducks='du -cks * | sort -rn | head -11'

alias ghclean='rm -f *.hi *.o $1'

alias ip="ifconfig |\
          grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' |\
          grep -Eo '([0-9]*\.){3}[0-9]*' |\
          grep -v '127.0.0.1'"
alias extip='curl -s http://myexternalip.com/raw'
alias iamhome='[ \"$(extip)\" = \"2.235.177.223\" ] ; echo $?'

alias timecmd='/usr/bin/time $1 -l'

alias y2mp3='youtube-dl --extract-audio'
alias f2mp3='ffmpeg -i $1 -q:a 0 $1.mp3'

alias exe='chmod u+x $1'

# }}}
# {{{ working directories

alias sem="cd ~/SpringSemester2015"
alias P="cd ~/Dropbox/Programming"
alias dots="cd ~/.dotfiles"
alias configs="cd $XDG_CONFIG_HOME"

# }}}
# {{{ servers

alias atelier="ssh muscellm@atelier.inf.usi.ch"
alias qnap="ssh admin@192.168.2.10"

# }}}
# {{{ guards

alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

# }}}
# {{{ mac os specific commands

# cleanup and update my system. needs Homebrew
alias update='brew cleanup && brew update && brew upgrade && brew cleanup && brew doctor'

# add empty icon on the dock as a spacer
alias addSpacer="\
    defaults write com.apple.dock\
        persistent-apps\
        -array-add '{tile-data={};\
        tile-type=\"spacer-tile\";}';\
    killall Dock"

# show/hide hidden files in the finder
alias hideFiles='\
    defaults write com.apple.finder 
             AppleShowAllFiles NO;\
    killall\
             Finder /System/Library/CoreServices/Finder.app'

alias showFiles='\
    defaults write com.apple.finder AppleShowAllFiles YES;\
    killall\
            Finder /System/Library/CoreServices/Finder.app'

# }}}
# {{{ git

alias gst='git status'
alias gss='git status -s'
alias gwc='git whatchanged -p --abbrev-commit --pretty=medium'
alias gad='git add .'
alias gct='git commit'

# }}}

# vim: ft=sh fdm=marker
