# -----------------------------------------------------------------------
# Shell Function definitions
# @author matteo.muscella@usi.ch
# -----------------------------------------------------------------------

#
# Rename files matching wildcards with sequential
# numbers starting from 0001 or a specified number with $1
function rseq() #{{{
{
    start=${1:-1}
    find -E . -regex '.*\.(jpg|png)' | # find files
    awk -v s="$start" 'BEGIN{ a=s }{ printf "mv \"%s\" %04d.jpg\n", $0, a++ }' | # build cmd
    bash # run that command
} #}}}

#
# Switch Java version
# Mac OS only
function sjv() #{{{
{
  test -z $1 && echo 'usage: swjv 1.8/10/11'
  export JAVA_HOME=$(/usr/libexec/java_home -v $1)
  test "$2" = "-q" || echo "JAVA_HOME => $JAVA_HOME"
} #}}}

# vim: ft=sh
